*.o
*.a
/skynet.pid
3rd/lua/lua
3rd/lua/luac
/cservice
/luaclib
*.so
*.dSYM

#vim
*.swp
cscope.*.out
cscope.out
tags
.gitattributes

#vc project
*.sln
*.suo
*.vcxproj
*.vcxproj.filters

.DS_Store

#other
shell/*.conf
shell/genkey.txt
#script/conf/*.conf
accountcenter/script/conf/*
ds/*.bak
ds/*.aof
ds/*.rdb
patch
patch/*.tar.gz

#log
log/*
ds/*.log
shell/*.log
